@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.banner{
    position: relative;

//?? Styling image
    img{

width: 98vw;
margin: 0 auto;
opacity: 0.8;
    }

    .bannerTxt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        top:10%;

        @keyframes "bounce01" {

            0% {
                transform: translateY(-50%)
            }
            70% {
opacity: 0.3;
            }
            100% {
opacity: 0;
            }
        }
        #scrldwn01 {
            height: 20vh;
            position: absolute;
            top:10%;
            width: 100%;
            &::before {
                animation: bounce01 1s ease infinite;
                // bottom: 2rem;
                color: #fff;
                content: '|';
                font-size: 4rem;
                height: 4rem;
                left: 50%;
                letter-spacing: -1px;
                line-height: 4rem;
                margin-left: -3rem;
                opacity: 0.8;
                position: absolute;
                text-align: center;
                width: 4rem;
            }
        }

        @keyframes "bounce02" {

            50% {
                transform: translateY(-50%);
            }

        }

        #scrldwn02 {
            height: 85vh;
            position: absolute;
            top:10%;
            width: 100%;
            &::before {
                animation: bounce02 1s ease infinite;
                bottom: 2rem;
                color: #fff;
                content: '|';
                font-size: 5rem;
                height: 4rem;
                left: 50%;
                letter-spacing: -1px;
                line-height: 4rem;
                margin-left: -3rem;
                opacity: 0.8;
                position: absolute;
                text-align: center;
                width: 4rem;
            }
        }
    }

    .welcome{
        // position: absolute;
        // top:30%;
        // left: 45%;
        font-family: 'Lora', serif;
    }
    .sclnm{
        // position: absolute;
        // top:30%;
        // left: 30%;
        font-size: 80px;
        text-align: center;
        width: 600px;
        font-family: 'Lora', serif;
        margin: 0;
    }
}


  .cti {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:100vh;
      background-color: #f8f8f8;

    .bar {
        font-size: 50px;
    }
    .cti-explore {
        font-family: 'Lora', serif;
        font-weight: 300;
        margin: 20px 0 20px 0;
    }
    .cti-main {
        font-size: 45px;
        font-family: 'Lora', serif;
        width: 500px;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .cti-txt {
        font-size: 17px;
        font-family: 'Playfair Display', serif;
        width: 800px;
        margin: 0 0 20px 0;
        text-align: center;
    }
    .cti-btn{
        margin-top: 20px;
        background-color: transparent;
        border: 1px rgb(231, 126, 28) solid;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        &:hover{
            background-color: rgb(231, 126, 28);
            color: #fff;
        }
    }
  }

  

  .location {
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    video {
        width: 100%;
    }
    .loc-txt{
        position: absolute;
        top: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0 auto;
        color: #fff;

        .loc-main {
            font-size: 45px;
            font-family: 'Lora', serif;
            margin-bottom: 20px;
        }
        .play {
          img {
          }
          &:hover{
              cursor: pointer;
          }
        }
    }

  }



  .stories {
      min-height: 100vh;
      .stories-top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        .stories-main {
            font-size: 45px;
            font-family: 'Lora', serif;
            margin-bottom: 10px;
        }
        .stories-v-all {
            font-size: 17px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 30px;
            &:hover{
                text-decoration: underline;
            }
        }
      }

    .stories-part {
        display: flex;
      .stories-all {
          display: flex;
          flex-direction: column;
          align-items: center;
          > *{
             margin-bottom: 20px; 
          }
        .stories-img {
        }
        .stories-date {
        }
        .stories-title {
            font-size: 32px;
            font-family: 'Playfair Display', serif;
        }
        .stories-des {
            text-align: center;
            font-family: 'Playfair Display', serif;
            width: 85%;
        }
        .stories-more {
            font-family: 'Lora', serif;
        }
        img {
        }
      }
    }
  }