
  .nav-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
>*{
  flex: 1;
}

    .nav-left {
      
      .ham-in {
        img {
            max-width: 45px;
        }
      }

      .overlay{
        background-color: #FAFAFA;
        margin:33px 0 0 -10px;
        position: fixed;
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 0;

        .clip{
          opacity: 1;
        }
        .exit {
        position: relative;
        left: 90%;
          img {
              max-width: 45px;
          }
        }
        .menu {
          .menu-container {
            display: flex;

            &:not(:hover)> .menu-cont-li{
              display: none;
            }
          }
          .category {
            padding-left: 5%;
            margin-top: 0;
            font-size: 30px;
            // position: relative;

            &:hover{
              color: #d21245;
            }
            
          }

          ul {
            left: 20%;
            position: absolute;
            top: 33px;

            li {
                list-style-type: none;
                font-size: 24px;
                padding-bottom: 30px;

                // &:not(:hover){
                //   display: none;
                // }


                a{
                  text-decoration: none;
                  color: #000;
                  &:hover{
                    color: #d21245;
                  }
                }
            }
          }
        }
      }

    }

  .nav-center {
    .nav-centar-all {
text-align: center;

      a {
        img {
          width: 80px;
        }
        &:hover {}
        &:active {}
        &:focus {}
      }
    }
  }

  .nav-right {
    ul {
      display: flex;
      li{
        list-style-type: none;
        padding:0 10px;
        a{
          text-decoration: none;
          color: #000;
        }
        .nav-btn-01 {
        }
        .nav-btn-02 {
        }
        .nav-btn-03 {
          img {
          }
        }
      }

    }
  }
  }