
  .nav-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    >*{
      flex: 1;
    }

    .nav-left {
.nav-txt{
  font-family: 'Lora', serif;
  font-size: 40px;
  margin-left: 20%;
}

.w3-card{
  position: relative;
  top: 12%;
}



    }

  .nav-center {
    .nav-centar-all {
text-align: center;

      a {
        img {
          width: 80px;
        }
        &:hover {}
        &:active {}
        &:focus {}
      }
    }
  }

  .nav-right {
    ul {
      display: flex;
      li{
        list-style-type: none;
        padding:0 10px;
        a{
          text-decoration: none;
          color: #000;
        }
        .nav-btn-01 {
        }
        .nav-btn-02 {
        }
        .nav-btn-03 {
          img {
          }
        }
      }

    }
  }
  }