
  .nav-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    >*{
      flex: 1;
      
    }

    .nav-left {
      
.nav-txt{
  font-family: 'Lora', serif;
  font-size: 40px;
  margin-left: 20%;
}

.w3-card{
  position: relative;
  top: 12%;
}

    }

  .nav-center {
    .nav-centar-all {
text-align: center;

      a {
        img {
          width: 80px;
        }
        &:hover {}
        &:active {}
        &:focus {}
      }
    }
  }

  .nav-right {
   
    ul {
      display: flex;
      justify-content: flex-end;
      li{
        list-style-type: none;
        padding:0 10px;
        a{
          text-decoration: none;
          color: #000;
        }
        .nav-btn-01 {
        }
        .nav-btn-02 {
        }
        .nav-btn-03 {
          img {
          }
        }
      }

    }
  }
  }


  //!!Tablet Device


  @media all and (max-width: 1050px){
    .nav-whole {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
       
  .nav-left {
      flex: 1;
  .nav-txt{
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-left: 20%;
  }
  
  .w3-card{
    position: relative;
    top: 0%;
    left: 0%;
  }
                }

    .nav-center {
      flex: 1;
      
      .nav-centar-all {
  text-align: center;
  margin-left: 45%;
        a {
          img {
            width: 80px;
          }
        }
      }
    }
  
    .nav-right {
      flex: 1.5;
      ul {
        display: flex;
        padding-left: 0;
        
        li{
          list-style-type: none;
          display: inline;
        }
      }
    }
    }
  }



  //!!Mobile Device


@media all and (max-width: 500px){
  .nav-whole{
    display: grid;
grid-template-columns: 200px 200px;
grid-template-rows: minmax(100px, auto);
grid-template-areas: "left center"
                      "right right";

  .nav-left{
    .nav-txt{
      margin-left: 5%;
    }
  }
  }


  .nav-left{
    grid-area: left;
    }
  .nav-center{
    grid-area: center;
    }
  .nav-right{
    grid-area: right;
    }

    .nav-left{
      margin-left: 20%;


      // #mySidebar{
      //   width: 100%;
      // }
    }
    .nav-center{
      margin-right: 20%;
    }
    .nav-right{
      // width: 90%;
      margin: 15px auto;
    }
  }