@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
.nav-whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-whole > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-whole .nav-left .ham-in img {
  max-width: 45px;
}

.nav-whole .nav-left .overlay {
  background-color: #FAFAFA;
  margin: 33px 0 0 -10px;
  position: fixed;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
}

.nav-whole .nav-left .overlay .clip {
  opacity: 1;
}

.nav-whole .nav-left .overlay .exit {
  position: relative;
  left: 90%;
}

.nav-whole .nav-left .overlay .exit img {
  max-width: 45px;
}

.nav-whole .nav-left .overlay .menu .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-whole .nav-left .overlay .menu .menu-container:not(:hover) > .menu-cont-li {
  display: none;
}

.nav-whole .nav-left .overlay .menu .category {
  padding-left: 5%;
  margin-top: 0;
  font-size: 30px;
}

.nav-whole .nav-left .overlay .menu .category:hover {
  color: #d21245;
}

.nav-whole .nav-left .overlay .menu ul {
  left: 20%;
  position: absolute;
  top: 33px;
}

.nav-whole .nav-left .overlay .menu ul li {
  list-style-type: none;
  font-size: 24px;
  padding-bottom: 30px;
}

.nav-whole .nav-left .overlay .menu ul li a {
  text-decoration: none;
  color: #000;
}

.nav-whole .nav-left .overlay .menu ul li a:hover {
  color: #d21245;
}

.nav-whole .nav-center .nav-centar-all {
  text-align: center;
}

.nav-whole .nav-center .nav-centar-all a img {
  width: 80px;
}

.nav-whole .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-whole .nav-right ul li {
  list-style-type: none;
  padding: 0 10px;
}

.nav-whole .nav-right ul li a {
  text-decoration: none;
  color: #000;
}

.banner {
  position: relative;
}

.banner img {
  width: 98vw;
  margin: 0 auto;
  opacity: 0.8;
}

.banner .bannerTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  top: 10%;
}

@-webkit-keyframes "bounce01" {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes "bounce01" {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.banner .bannerTxt #scrldwn01 {
  height: 20vh;
  position: absolute;
  top: 10%;
  width: 100%;
}

.banner .bannerTxt #scrldwn01::before {
  -webkit-animation: bounce01 1s ease infinite;
          animation: bounce01 1s ease infinite;
  color: #fff;
  content: '|';
  font-size: 4rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 4rem;
}

@-webkit-keyframes "bounce02" {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes "bounce02" {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.banner .bannerTxt #scrldwn02 {
  height: 85vh;
  position: absolute;
  top: 10%;
  width: 100%;
}

.banner .bannerTxt #scrldwn02::before {
  -webkit-animation: bounce02 1s ease infinite;
          animation: bounce02 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: '|';
  font-size: 5rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 4rem;
}

.banner .welcome {
  font-family: 'Lora', serif;
}

.banner .sclnm {
  font-size: 80px;
  text-align: center;
  width: 600px;
  font-family: 'Lora', serif;
  margin: 0;
}

.cti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.cti .bar {
  font-size: 50px;
}

.cti .cti-explore {
  font-family: 'Lora', serif;
  font-weight: 300;
  margin: 20px 0 20px 0;
}

.cti .cti-main {
  font-size: 45px;
  font-family: 'Lora', serif;
  width: 500px;
  text-align: center;
  margin: 0 0 20px 0;
}

.cti .cti-txt {
  font-size: 17px;
  font-family: 'Playfair Display', serif;
  width: 800px;
  margin: 0 0 20px 0;
  text-align: center;
}

.cti .cti-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px #e77e1c solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cti .cti-btn:hover {
  background-color: #e77e1c;
  color: #fff;
}

.location {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.location video {
  width: 100%;
}

.location .loc-txt {
  position: absolute;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  margin: 0 auto;
  color: #fff;
}

.location .loc-txt .loc-main {
  font-size: 45px;
  font-family: 'Lora', serif;
  margin-bottom: 20px;
}

.location .loc-txt .play:hover {
  cursor: pointer;
}

.stories {
  min-height: 100vh;
}

.stories .stories-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories .stories-top .stories-main {
  font-size: 45px;
  font-family: 'Lora', serif;
  margin-bottom: 10px;
}

.stories .stories-top .stories-v-all {
  font-size: 17px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

.stories .stories-top .stories-v-all:hover {
  text-decoration: underline;
  cursor: pointer;
}

.stories .stories-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories .stories-part .stories-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories .stories-part .stories-all > * {
  margin-bottom: 20px;
}

.stories .stories-part .stories-all .stories-title {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
}

.stories .stories-part .stories-all .stories-des {
  text-align: center;
  font-family: 'Playfair Display', serif;
  width: 85%;
}

.stories .stories-part .stories-all .stories-more {
  font-family: 'Lora', serif;
}

.stories .stories-part .stories-all .stories-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.learning .learning-left {
  width: 100%;
  position: relative;
}

.learning .learning-left img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.learning .learning-left .learningTxt {
  position: absolute;
  top: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.learning .learning-left .learningTxt .lrng-txt-qoute {
  font-family: 'Tinos', serif;
  font-size: 30px;
  width: 350px;
}

.learning .learning-left .learningTxt .lrng-txt-nm {
  margin-top: 20px;
  font-family: 'Lora', serif;
}

.learning .learning-right {
  background-color: #162238;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.learning .learning-right .TBTT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.learning .learning-right .TBTT > * {
  margin: 20px 0;
}

.learning .learning-right .TBTT .lrng-right-bar {
  width: 10%;
  background-color: #ddd;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  color: white;
  margin-bottom: 50px;
}

.learning .learning-right .TBTT .lrng-right-lrng {
  font-family: 'Lora', serif;
}

.learning .learning-right .TBTT .lrng-right-TBTT {
  font-family: 'Tinos', serif;
  font-size: 40px;
  width: 60%;
  text-align: center;
}

.learning .learning-right .TBTT .lrng-right-des {
  font-family: 'Tinos', serif;
  font-size: 17px;
  width: 60%;
  text-align: center;
  line-height: 35px;
}

.learning .learning-right .TBTT .lrng-right-btn {
  font-family: 'Lora', serif;
  font-weight: 800;
}

.living {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.living .living-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.living .living-left > * {
  margin-bottom: 20px;
}

.living .living-left .living-left-bar {
  width: 5%;
  background-color: #ddd;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  color: white;
  margin-bottom: 50px;
}

.living .living-left .living-left-tit {
  font-family: 'Tinos', serif;
  opacity: 0.6;
}

.living .living-left .living-left-main-tit {
  font-family: 'Lora', serif;
  font-size: 40px;
}

.living .living-left .living-left-des {
  width: 65%;
  text-align: center;
  font-family: 'Lora', serif;
  line-height: 28px;
  opacity: 0.8;
}

.living .living-left .living-left-btn {
  font-family: 'Tinos', serif;
  color: #be2424;
  opacity: 0.8;
}

.living .living-right {
  width: 100vw;
}

.living .living-right .liv-ri-top {
  position: relative;
}

.living .living-right .liv-ri-top img {
  height: 49.5vh;
  max-width: 35vw;
}

.living .living-right .liv-ri-top .liv-ri-top-all {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.living .living-right .liv-ri-top .liv-ri-top-all .liv-ri-tit {
  font-family: 'Lora', sarif;
  font-size: 35px;
}

.living .living-right .liv-ri-bot {
  position: relative;
}

.living .living-right .liv-ri-bot img {
  height: 49.5vh;
  min-width: 35vw;
}

.living .living-right .liv-ri-bot .liv-ri-bot-all {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.living .living-right .liv-ri-bot .liv-ri-bot-all .liv-ri-bot-tit {
  font-family: 'Lora', sarif;
  font-size: 35px;
}

.admission {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
}

.admission > * {
  margin: 20px 0;
}

.admission .admission-bar {
  width: 5%;
  background-color: #ddd;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  color: white;
  margin-bottom: 50px;
}

.admission .admission-top-title {
  font-family: 'Lora', serif;
  opacity: 0.6;
}

.admission .admission-title {
  font-family: 'Tinos', serif;
  font-size: 40px;
  width: 60%;
  text-align: center;
}

.admission .admission-des {
  font-family: 'Lora', serif;
  font-size: 17px;
  width: 60%;
  text-align: center;
  line-height: 35px;
}

.admission .admission-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.admission .admission-btn .admission-btn-01 {
  font-family: 'Tinos', serif;
  color: #be2424;
  opacity: 0.8;
}

.admission .admission-btn .admission-btn-02 {
  font-family: 'Tinos', serif;
  color: #be2424;
  opacity: 0.8;
}

.apply {
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 5% 0;
}

.apply .apply-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vw;
}

.apply .apply-left .apply-left-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.apply .apply-left .apply-left-img .img13 {
  display: none;
}

.apply .apply-left .apply-left-img .img1302 {
  height: 90.36%;
  position: relative;
  top: 5%;
}

.apply .apply-left .apply-left-all {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  background-color: #2F3648;
  width: 90%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apply .apply-left .apply-left-all > * {
  margin-bottom: 30px;
}

.apply .apply-left .apply-left-all .apply-left-title {
  font-family: 'Tinos', serif;
  font-size: 40px;
  width: 84%;
  text-align: center;
}

.apply .apply-left .apply-left-all .apply-left-des {
  font-family: 'Lora', serif;
  font-size: 16px;
  width: 80%;
  text-align: center;
  line-height: 35px;
}

.apply .apply-left .apply-left-all .apply-left-btn {
  font-family: 'Tinos', serif;
  opacity: 0.8;
}

.apply .apply-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apply .apply-right .apply-right-img .img16 {
  display: none;
}

.apply .apply-right .apply-right-img .img1602 {
  height: 90.36%;
  position: relative;
  top: 5%;
}

.apply .apply-right .apply-right-all {
  background-color: #2F3648;
  width: 90%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apply .apply-right .apply-right-all > * {
  margin-bottom: 30px;
}

.apply .apply-right .apply-right-all .apply-right-title {
  font-family: 'Tinos', serif;
  font-size: 40px;
  width: 84%;
  text-align: center;
}

.apply .apply-right .apply-right-all .apply-right-des {
  font-family: 'Lora', serif;
  font-size: 16px;
  width: 80%;
  text-align: center;
  line-height: 35px;
}

.apply .apply-right .apply-right-all .apply-right-btn {
  font-family: 'Tinos', serif;
  opacity: 0.8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */