.s-adm-ban {
  position: relative;
  overflow: hidden;
}

.s-adm-ban img {
  max-width: 99vw;
  opacity: 0.9;
}

.s-adm-ban .s-adm-ban-hamburger {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 5;
}

.s-adm-ban .s-adm-ban-hamburger .nav-txt {
  font-family: 'Lora', serif;
  font-size: 40px;
  margin-right: 20%;
}

.s-adm-ban .s-adm-ban-hamburger .w3-card {
  position: relative;
  top: 0%;
  left: 0%;
}

.s-adm-ban .s-adm-ban-hamburger .w3-card .nav-txt {
  text-decoration: none;
  text-align: center;
}

.s-adm-ban .s-adm-ban-hamburger .w3-card .nav-txt:hover {
  text-decoration: line-through;
  color: #E77E1C;
}

.s-adm-ban .s-adm-ban-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100vw;
  top: 10%;
  color: #0A172E;
}

.s-adm-ban .s-adm-ban-all > * {
  margin-bottom: 50px;
}

.s-adm-ban .s-adm-ban-all img {
  opacity: 0.6;
}

.s-adm-ban .s-adm-ban-all .s-adm-ban-bar {
  width: 5%;
  background-color: #202020;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  margin-bottom: 50px;
}

.s-adm-ban .s-adm-ban-all .s-adm-ban-bar-tit {
  font-size: 20px;
  opacity: 0.8;
}

.s-adm-ban .s-adm-ban-all .s-adm-ban-bar-long-tit {
  font-size: 80px;
  width: 70%;
  font-family: 'Tinos', sarif;
  text-align: center;
  letter-spacing: 8px;
}

.s-adm-ban .s-adm-ban-all .s-adm-ban-bar2 {
  width: 5%;
  background-color: #202020;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  margin-bottom: 50px;
}

.s-adm {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-adm .s-adm-left {
  width: 100%;
  position: relative;
}

.s-adm .s-adm-left .s-adm-left-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.s-adm .s-adm-right {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.s-adm .s-adm-right .t13 {
  background-color: #0A172E;
}

.s-adm .s-adm-right .t6 {
  background-color: #8F4545;
}

.s-adm .s-adm-right .entrance {
  background-color: #0A172E;
}

.s-adm .s-adm-right .sport {
  background-color: #fff;
  color: #0A172E;
}

.s-adm .s-adm-right .contact {
  background-color: #232C41;
}

.s-adm .s-adm-right .s-adm-right-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.s-adm .s-adm-right .s-adm-right-all > * {
  margin: 20px 0;
}

.s-adm .s-adm-right .s-adm-right-all .s-adm-right-bar {
  width: 10%;
  background-color: #ddd;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  color: white;
  margin-bottom: 50px;
}

.s-adm .s-adm-right .s-adm-right-all .s-adm-right-tit {
  font-family: 'Tinos', serif;
  font-size: 40px;
  width: 60%;
  text-align: center;
}

.s-adm .s-adm-right .s-adm-right-all .s-adm-right-des {
  font-family: 'Tinos', serif;
  font-size: 17px;
  width: 60%;
  text-align: center;
  line-height: 35px;
}

.s-adm .s-adm-right .s-adm-right-all .s-adm-right-btn {
  font-family: 'Lora', serif;
  letter-spacing: 5px;
}

.fees-bursaries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EBE2E2;
}

.fees-bursaries .fees {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fees-bursaries .fees > * {
  margin-bottom: 20px;
}

.fees-bursaries .fees .fees-bar {
  width: 15%;
  background-color: #202020;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  margin-bottom: 50px;
  display: inline-block;
}

.fees-bursaries .fees .fees-tit {
  font-size: 40px;
  font-family: 'Lora', sarif;
}

.fees-bursaries .fees .fees-des {
  width: 500px;
  text-align: center;
  font-family: 'Tinos', serif;
  font-size: 17px;
  line-height: 28px;
}

.fees-bursaries .fees .fees-btn {
  font-family: 'Tinos',serif;
}

.fees-bursaries hr {
  width: 10%;
  height: 60vh;
  opacity: 0.3;
}

.fees-bursaries .bursaries {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fees-bursaries .bursaries > * {
  margin-bottom: 20px;
}

.fees-bursaries .bursaries .bursaries-bar {
  width: 15%;
  background-color: #202020;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  margin-bottom: 50px;
  display: inline-block;
}

.fees-bursaries .bursaries .bursaries-tit {
  font-size: 40px;
  font-family: 'Lora', sarif;
}

.fees-bursaries .bursaries .bursaries-des {
  width: 500px;
  text-align: center;
  font-family: 'Tinos', serif;
  font-size: 17px;
  line-height: 28px;
}

.fees-bursaries .bursaries .bursaries-btn {
  font-family: 'Tinos',serif;
}

@media all and (max-width: 1050px) {
  .s-adm-ban {
    position: relative;
    overflow: auto;
  }
  .s-adm-ban img {
    max-width: 99vw;
    opacity: 0.9;
  }
  .s-adm-ban .s-adm-ban-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 100vw;
    top: 10%;
    color: #fff;
  }
  .s-adm-ban .s-adm-ban-all > * {
    margin-bottom: 30px;
  }
  .s-adm-ban .s-adm-ban-all img {
    opacity: 0.8;
    max-width: 80px;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar {
    width: 5%;
    background-color: #202020;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 3px;
    margin-bottom: 50px;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar-tit {
    font-size: 20px;
    opacity: 0.8;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar-long-tit {
    font-size: 50px;
    width: 70%;
    font-family: 'Tinos', sarif;
    text-align: center;
    letter-spacing: 8px;
    font-weight: bolder;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar2 {
    width: 5%;
    background-color: #202020;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 3px;
    margin-bottom: 50px;
  }
  .s-adm {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s-adm .s-adm-left {
    width: 80%;
    position: relative;
  }
  .s-adm .s-adm-left .s-adm-left-img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .s-adm .s-adm-right {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .s-adm .s-adm-right .t13 {
    background-color: #0A172E;
  }
  .s-adm .s-adm-right .t6 {
    background-color: #8F4545;
  }
  .s-adm .s-adm-right .entrance {
    background-color: #0A172E;
  }
  .s-adm .s-adm-right .sport {
    background-color: #fff;
    color: #0A172E;
  }
  .s-adm .s-adm-right .contact {
    background-color: #232C41;
  }
  .s-adm .s-adm-right .s-adm-right-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .s-adm .s-adm-right .s-adm-right-all > * {
    margin: 15px 0;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-bar {
    width: 10%;
    background-color: #ddd;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 1px;
    color: white;
    margin-bottom: 50px;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-tit {
    font-family: 'Tinos', serif;
    font-size: 40px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-des {
    font-family: 'Tinos', serif;
    font-size: 17px;
    width: 80%;
    text-align: center;
    line-height: 30px;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-btn {
    font-family: 'Lora', serif;
    letter-spacing: 5px;
  }
  .fees-bursaries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 60vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EBE2E2;
  }
  .fees-bursaries .fees {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fees-bursaries .fees > * {
    margin-bottom: 20px;
  }
  .fees-bursaries .fees .fees-bar {
    width: 15%;
    background-color: #202020;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 1px;
    margin-bottom: 50px;
    display: inline-block;
  }
  .fees-bursaries .fees .fees-tit {
    font-size: 40px;
    font-family: 'Lora', sarif;
  }
  .fees-bursaries .fees .fees-des {
    width: 300px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 17px;
    line-height: 28px;
  }
  .fees-bursaries .fees .fees-btn {
    font-family: 'Tinos',serif;
  }
  .fees-bursaries hr {
    width: 1px;
    height: 60vh;
    opacity: 0.3;
  }
  .fees-bursaries .bursaries {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fees-bursaries .bursaries > * {
    margin-bottom: 20px;
  }
  .fees-bursaries .bursaries .bursaries-bar {
    width: 15%;
    background-color: #202020;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 1px;
    margin-bottom: 50px;
    display: inline-block;
  }
  .fees-bursaries .bursaries .bursaries-tit {
    font-size: 40px;
    font-family: 'Lora', sarif;
  }
  .fees-bursaries .bursaries .bursaries-des {
    width: 300px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 17px;
    line-height: 28px;
  }
  .fees-bursaries .bursaries .bursaries-btn {
    font-family: 'Tinos',serif;
  }
}

@media all and (max-width: 500px) {
  .s-adm-ban {
    position: relative;
    overflow: none;
  }
  .s-adm-ban img {
    max-width: 100vw;
    opacity: 0.9;
  }
  .s-adm-ban .s-adm-ban-all {
    top: 10%;
    color: #fff;
  }
  .s-adm-ban .s-adm-ban-all > * {
    margin-bottom: 16px;
  }
  .s-adm-ban .s-adm-ban-all img {
    opacity: 0.8;
    max-width: 60px;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar {
    width: 8%;
    margin-bottom: 20px;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar-tit {
    font-size: 16px;
    opacity: 1;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar-long-tit {
    font-size: 24px;
    width: 90%;
  }
  .s-adm-ban .s-adm-ban-all .s-adm-ban-bar2 {
    display: none;
  }
  .s-adm {
    height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-adm .s-adm-left {
    width: 100%;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .s-adm .s-adm-left .s-adm-left-img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .s-adm .s-adm-right {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70vh;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .s-adm .s-adm-right .s-adm-right-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .s-adm .s-adm-right .s-adm-right-all > * {
    margin: 15px 0;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-bar {
    display: none;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-tit {
    font-family: 'Tinos', serif;
    font-size: 26px;
    width: 85%;
    text-align: center;
    text-transform: uppercase;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-des {
    font-family: 'Tinos', serif;
    font-size: 17px;
    width: 85%;
    text-align: center;
    line-height: 28px;
  }
  .s-adm .s-adm-right .s-adm-right-all .s-adm-right-btn {
    font-family: 'Lora', serif;
    letter-spacing: 5px;
  }
  .fees-bursaries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EBE2E2;
  }
  .fees-bursaries .fees {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fees-bursaries .fees > * {
    margin-bottom: 20px;
  }
  .fees-bursaries .fees .fees-bar {
    width: 15%;
    background-color: #202020;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 1px;
    margin-bottom: 50px;
    display: inline-block;
  }
  .fees-bursaries .fees .fees-tit {
    font-size: 40px;
    font-family: 'Lora', sarif;
  }
  .fees-bursaries .fees .fees-des {
    width: 300px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 17px;
    line-height: 28px;
  }
  .fees-bursaries .fees .fees-btn {
    font-family: 'Tinos',serif;
  }
  .fees-bursaries hr {
    display: none;
  }
  .fees-bursaries .bursaries {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fees-bursaries .bursaries > * {
    margin-bottom: 20px;
  }
  .fees-bursaries .bursaries .bursaries-bar {
    width: 15%;
    background-color: #202020;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-top: 1px;
    margin-bottom: 50px;
    display: inline-block;
  }
  .fees-bursaries .bursaries .bursaries-tit {
    font-size: 40px;
    font-family: 'Lora', sarif;
  }
  .fees-bursaries .bursaries .bursaries-des {
    width: 300px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 17px;
    line-height: 28px;
  }
  .fees-bursaries .bursaries .bursaries-btn {
    font-family: 'Tinos',serif;
  }
}
/*# sourceMappingURL=subpage.css.map */