.banner{
    position: relative;
    width: 98vw;
    margin: 0 auto;
    
//?? Styling image
    .bannerImg{
        width: 98vw;
        opacity: 0;
    }

    .bannerTxt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        top:10%;
        overflow: hidden;

        .welcome, .scrldwn02, .sclnm, .scrlmr {
            opacity: 0;
        }

        .sclnm{
            position: relative;
            font-size: 80px;
            text-align: center;
            width: 600px;
            font-family: 'Lora', serif;
            margin: 0;
        // span:after{
        //     content: ' ';
        //     position: absolute;
        //     left: 0;
        //     width: 100%;
        //     height: 50%;
        //     background: #fff;
        //     z-index: 1;
        //     transform-origin: 100% 0;
        // }
        }
        #scrldwn02 {
            width: 20%;
            background-color: rgb(32, 32, 32);
            transform: rotate(90deg);
            //  text-align: left;
            padding-top: 2px;
            // color: rgb(8, 6, 6);
            margin-bottom: 50px;
        }
    

    .welcome{
        // position: absolute;
        // top:30%;
        // left: 45%;
        font-family: 'Lora', serif;
    }

        @keyframes "bounce01" {

            0% {
                transform: translateY(-50%)
            }
            70% {
            opacity: 0.3;
            }
            100% {
            opacity: 0;
            }
        }
        #scrldwn01 {
            height: 20vh;
            position: absolute;
            top:10%;
            width: 100%;
            opacity: 0;
            &::before {
                animation: bounce01 1s ease infinite;
                // bottom: 2rem;
                color: #fff;
                content: '|';
                font-size: 4rem;
                height: 4rem;
                left: 50%;
                letter-spacing: -1px;
                line-height: 4rem;
                margin-left: -3rem;
                opacity: 0.8;
                position: absolute;
                text-align: center;
                width: 4rem;
            }
        }   
        


}
}

//!!tablet version

@media all and (max-width: 1050px){
.banner{
    position: relative;
    width: 98vw;
    margin: 0 auto;
    overflow: hidden;


//?? Styling image
    img{
width: 98vw;
height: 50vh;
opacity: 0.8;
object-fit: cover;
    }

    .bannerTxt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        bottom:10%;

        .welcome{
            position: absolute;
            top:5%;
            // left: 45%;
            font-family: 'Lora', serif;
        }
        .sclnm{
            position: absolute;
            top: 10%;
            // left: 30%;
            font-size: 50px;
            text-align: center;
            width: 400px;
            font-family: 'Lora', serif;
            margin: 0;
        }
    
        .scrlmr{
            position: absolute;
            top: 25%;
        }

        @keyframes "bounce01" {

            0% {
                transform: translateY(-50%)
            }
            70% {
opacity: 0.3;
            }
            100% {
opacity: 0;
            }
        }
        #scrldwn01 {
            height: 5vh;
            position: absolute;
            top: 0%;
            width: 100%;
            &::before {
                animation: bounce01 1s ease infinite;
                // bottom: 2rem;
                color: #fff;
                content: '|';
                font-size: 4rem;
                height: 4rem;
                left: 50%;
                letter-spacing: -1px;
                line-height: 4rem;
                margin-left: -3rem;
                opacity: 0.8;
                position: absolute;
                text-align: center;
                width: 4rem;
            }
        }
        #scrldwn02 {

            }

        }
    }


}


//!!Mobile Version

@media all and (max-width: 500px){
.banner{
    position: relative;
    width: 98vw;
    margin: 0 auto;
    overflow: hidden;

//?? Styling image
    img{

width: 98vw;
height: 80vh;
object-fit: cover;
opacity: 0.8;

    }

    .bannerTxt{
        #scrldwn01 {
            height: 10vh;
        }

        

        #scrldwn02 {

        }
    

    .welcome{
        position: absolute;
        top: 12%;
        // left: 45%;
        font-family: 'Lora', serif;
        font-size: 14px;
    }
    .sclnm{
        position: absolute;
        top: 20%;
        // left: 30%;
        font-size: 32px;
        text-align: center;
        width: 300px;
        font-family: 'Lora', serif;
        margin: 0;

    }

    .scrlmr{
        position: absolute;
        top: 42%;
    }
}
}
}