.cti {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height:100vh;
          background-color: #f8f8f8;
    
        .bar {
            font-size: 50px;
        }
        .cti-explore {
            font-family: 'Lora', serif;
            font-weight: 300;
            margin: 20px 0 20px 0;
        }
        .cti-main {
            font-size: 45px;
            font-family: 'Lora', serif;
            width: 500px;
            text-align: center;
            margin: 0 0 20px 0;
        }
        .cti-txt {
            font-size: 17px;
            font-family: 'Playfair Display', serif;
            width: 800px;
            margin: 0 0 20px 0;
            text-align: center;
        }
        .cti-btn{
            margin-top: 20px;
            background-color: transparent;
            border: 1px rgb(231, 126, 28) solid;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
    
            &:hover{
                background-color: rgb(231, 126, 28);
                color: #fff;
            }
        }
      }

//!!Tablet Version

      @media all and (max-width: 1050px){
.cti{
    height: 60vh;
    .cti-main{
        font-size: 35px;
    }
    .cti-txt{
        width: 600px;
    }
}
}


//!!Mobile Version

@media all and (max-width: 500px){
    .cti {
        height: 85vh;
        
      .bar {
        //   display: none;
      }
      .cti-explore {
          font-family: 'Lora', serif;
          font-weight: 300;
          margin: 20px 0;
      }
      .cti-main {
          font-size: 25px;
          font-family: 'Lora', serif;
          width: 300px;
          text-align: center;
          margin: 0 0 20px 0;
      }
      .cti-txt {
          font-size: 15px;
          font-family: 'Playfair Display', serif;
          width: 300px;
          margin: 0 0 20px 0;
          text-align: center;
      }
      .cti-btn{
          margin-top: 10px;
          padding: 10px 22px;

          font-size: 16px;
      }
    }
}