.living {
      display: flex;
      height: 100vh;
      justify-content: space-between;
.living-left {            
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      >*{
      margin-bottom: 20px;
      }
            


      .living-left-bar {
            width: 5%;
            background-color: #ddd;
            transform: rotate(90deg);
            //  text-align: left;
            padding-top: 1px;
            color: white;
            margin-bottom: 50px;
      }
      .living-left-tit {
            font-family: 'Tinos', serif;
            opacity: 0.6;
      }
      .living-left-main-tit {
            font-family: 'Lora', serif;
            font-size: 40px;
      }
      .living-left-des {
                  width: 65%;
                  text-align: center;
                  font-family: 'Lora', serif;
                  line-height: 28px;
                  opacity: 0.8;
      }
      .living-left-btn {
            font-family: 'Tinos', serif;
            color: #be2424;
            opacity: 0.8;
      }
}



.living-right {
      width: 100vw;
.liv-ri-top {
      position: relative;
img {
height: 49.5vh;
max-width: 35vw;
}
.liv-ri-top-all {
      position: absolute;
      top:50%;
      width: 100%;
      transform: translateY(-50%);
      color: #fff;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      
      align-items: center;
.liv-ri-tit {
            font-family: 'Lora', sarif;
            font-size: 35px;
}
.liv-ri-top-find {
}
}
}
.liv-ri-bot {
      position: relative;
img {
height: 49.5vh;
min-width: 35vw;
}
.liv-ri-bot-all {
      position: absolute;
      top:50%;
      width: 100%;
      transform: translateY(-50%);
      color: #fff;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      
      align-items: center;
.liv-ri-bot-tit {
            font-family: 'Lora', sarif;
            font-size: 35px;
}
.liv-ri-bot-find {
}
}
}
}
}



//!!Tablet Mode


@media all and (max-width: 1050px){
      .living {
            display: flex;
            height: 50vh;
            justify-content: space-between;
      .living-left {            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 120%;
            >*{
            margin-bottom: 20px;
            }
                  
      
      
            .living-left-bar {
                  width: 5%;
                  background-color: #ddd;
                  transform: rotate(90deg);
                  //  text-align: left;
                  padding-top: 1px;
                  color: white;
                  margin-bottom: 50px;
            }
            .living-left-tit {
                  font-family: 'Tinos', serif;
                  opacity: 0.6;
            }
            .living-left-main-tit {
                  font-family: 'Lora', serif;
                  font-size: 40px;
            }
            .living-left-des {
                        width: 65%;
                        text-align: center;
                        font-family: 'Lora', serif;
                        line-height: 28px;
                        opacity: 0.8;
            }
            .living-left-btn {
                  font-family: 'Tinos', serif;
                  color: #be2424;
                  opacity: 0.8;
            }
      }
      
      
      
      .living-right {
            width: 50vw;
            margin: auto 0;
      .liv-ri-top {
            position: relative;
      img {
      height: 215px;
      width: 100%;
      }
      .liv-ri-top-all {

            display: flex;
            flex-direction: column;
            align-items: center;
      .liv-ri-tit {
                  font-family: 'Lora', sarif;
                  font-size: 35px;
      }
      .liv-ri-top-find {
      }
      }
      }
      .liv-ri-bot {
            position: relative;
      img {
            height: 215px;
            width: 100%;
      }
      .liv-ri-bot-all {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
      .liv-ri-bot-tit {
                  font-family: 'Lora', sarif;
                  font-size: 35px;
      }
      .liv-ri-bot-find {
      }
      }
      }
      }
      }
}



//!!Mobile Mode


@media all and (max-width: 500px){
      .living {
            display: flex;
            flex-direction: column;
            height: 185%;
            justify-content: space-between;
      .living-left {            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            >*{
            margin-bottom: 20px;
            }
                  
      
      
            .living-left-bar {
                  width: 20%;
                  background-color: rgb(32, 32, 32);
                  transform: rotate(90deg);
                  //  text-align: left;
                  padding-top: 1px;
                  // color: rgb(8, 6, 6);
                  margin-bottom: 50px;
            }
            .living-left-tit {
                  font-family: 'Tinos', serif;
                  opacity: 0.6;
            }
            .living-left-main-tit {
                  font-family: 'Lora', serif;
                  font-size: 40px;
                  text-align: center;
            }
            .living-left-des {
                  width: 75%;
                  text-align: center;
                  font-family: 'Lora', serif;
                  line-height: 24px;
                  opacity: 0.8;
            }
            .living-left-btn {
                  font-family: 'Tinos', serif;
                  color: #be2424;
                  opacity: 0.8;
            }
      }
      
      
      
      .living-right {
            width: 100vw;
            margin: auto 0;
            .liv-ri-top {
                  position: relative;
            img {
            height: 100%;
            min-width: 100vw;
            }
            .liv-ri-top-all {

                  display: flex;
                  flex-direction: column;
                  align-items: center;
            .liv-ri-tit {
                        font-family: 'Lora', sarif;
                        font-size: 35px;
            }
            .liv-ri-top-find {
            }
            }
            }


            .liv-ri-bot {
                  position: relative;
            img {
                  height: 215px;
                  width: 100%;
            }
            .liv-ri-bot-all {
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                  align-items: center;
            .liv-ri-bot-tit {
                        font-family: 'Lora', sarif;
                        font-size: 35px;
            }
            .liv-ri-bot-find {
            }
            }
            }
      }
      }
}