.stories {
    min-height: 100vh;
    .stories-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      .stories-main {
          font-size: 45px;
          font-family: 'Lora', serif;
          margin-bottom: 10px;
      }
      .stories-v-all {
          font-size: 17px;
          font-family: 'Playfair Display', serif;
          margin-bottom: 30px;
          &:hover{
              text-decoration: underline;
              cursor: pointer;
          }
      }
    }

  .stories-part {
      display: flex;
    .stories-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        .str-hid{
          display: none;
        }
        > *{
            margin-bottom: 20px; 
        }
      .stories-img {
      }
      .stories-date {
      }
      .stories-title {
          font-size: 32px;
          font-family: 'Playfair Display', serif;
      }
      .stories-des {
          text-align: center;
          font-family: 'Playfair Display', serif;
          width: 85%;
      }
      .stories-more {
          font-family: 'Lora', serif;
          &:hover{
              text-decoration: underline;
              cursor: pointer;
          }
      }
      img {
      }
    }
  }
      }


      //!!Tablet Mode

      @media all and (max-width: 1050px){
        .stories {
          min-height: 75vh; //ch 
        .stories-part {
            display: flex;
            column-gap: 10px; //ch
            width: 96vw;
            margin: auto;
        }
      }
      }


      //!!Mobile Mode

      @media all and (max-width: 500px){
        .stories {
          // min-height: 100vh;
          .stories-top {
            .stories-main {
                font-size: 45px;
                margin-bottom: 10px;
                text-align: center;
            }
            .stories-v-all {
                font-size: 17px;
                margin-bottom: 30px;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
          }
      
        .stories-part {
            display: flex;
            flex-direction: column;
          .stories-all {
            .stories-title {
                font-size: 32px;
                text-align: center;
            }
            .stories-des {
                text-align: center;
                width: 85%;
            }
      }
    }
  }
}